<form class='submit-container'{{action 'updateAccount' on='submit'}}>

<div class="submit-label">update account</div>

  {{log session.content}}
  {{input placeholder="update name" class="submit-input" value=updateName}}
  {{input placeholder="update email" class="submit-input" value=updateEmail}}
  {{input placeholder="update password" class="submit-input" value=updatePassword}}
  <button class="submit-button" type="submit">UPDATE ACCOUNT</button>

</form>

{{outlet}}
