<h3>Activity Page</h3>

{{outlet}}
<div>Activity Owner</div>
{{model.activityOwner.firstName}}
<div>Activity Name</div>
{{model.activityName}}
<div>Activity Date</div>
{{moment model.activityDate.iso}}
<div>Activity Type</div>
{{model.activityType}}
<div>Activity Way-Points</div>
Start: {{model.activityStart}} Finish: {{model.activityFinish}}
<div>Activity Friends</div>
{{model.activityFriends}}
<div>Activity Notes</div>
{{model.activityNotes}}

<div>
<button {{action "updateAccount"}}>Edit</button>
<button {{action "updateAccount"}}>Save</button>
<button {{action "updateAccount"}}>Delete</button>
<button {{action "updateAccount"}}>Cancel</button>
<button {{action "updateAccount"}}>Leave Activity</button>
</div>
