<div class="body-container">

<div class="left-container">
  <div class="user-activity-container-alt">
    {{#if isEditing}}
    <div class="container-title"><span>Activity Details</span></div>
    {{else}}
    <div class="container-title"><span>Now Editing</span><h5>save or cancel when done</h5></div>
    {{/if}}
      <div class="edit-info">Activity Owner</div>
        <div>{{input placeholder="activity owner" class="edit-input" value=model.activity.activityOwner.firstName disabled=isEditing}}</div>
      <div class="edit-info">Activity Name</div>
        <div>{{input placeholder="activity name" class="edit-input" value=model.activity.activityName disabled=isEditing}}</div>
      <div class="edit-info">Activity Date</div>
      <!-- {{log model.activity.activityDate}} -->
        <div class="edit-input">{{input type="datetime-local" class="date-input" value=model.activity.activityDate disabled=isEditing}}</div>
      <div class="edit-info">Activity Type</div>
       <div class="edit-input">
         <div class="mx-button">
          {{type-buttons name="typeSelect" selectionBinding="model.activity.activityType" value="Run" id="type1" disabled=isEditing}}
          <label for="type1">Run</label>
         </div>
        <div class="mx-button">
          {{type-buttons name="typeSelect" selectionBinding="model.activity.activityType" value="Ride" id="type2" disabled=isEditing}}
          <label for="type2">Ride</label>
        </div>
       </div>
      <div class="edit-info">Activity Way-Points</div>
       <div class="edit-input">Start: {{view "select" content=startMarker value=model.activity.activityStart disabled=isEditing}} Finish: {{view "select" content=finishMarker value=model.activity.activityFinish disabled=isEditing}}</div>

        <div class="edit-info">Activity Notes</div>
         <div>{{textarea placeholder="activity notes" class="edit-input" value=model.activity.activityNotes disabled=isEditing}}</div>

         <div class="edit-info">Activity Friends</div>
           <ul class="edit-input">

               {{#each friend in model.activity.activityFriends}}

               <li>{{friend.firstName}}
                   {{friend.lastName}}

                   {{#if isEditing}}
                   {{else}}
                   <button class="remove-friend" {{action "removeFriend" friend}}>X</button>
                   {{/if}}
               </li>

               {{/each}}
               <!-- ember-cli-typeahead -->
               {{type-ahead class="typeahead" placeholder="Search Names" name="users" highlight=true content=model.users displayKey="firstName" targetAction="addFriend" selection=selectedFriend disabled=isEditing}}
           </ul>



      <div>

      {{#if owner}}

      <button {{action "edit"}}>Edit</button>
      <button {{action "save"}}>Save</button>
      <button {{action "delete"}}>Delete</button>

      {{#link-to 'home'}}
        <button>Cancel</button>
      {{/link-to}}

      {{else}}

      <button {{action "leave"}}>Leave Activity</button>

      {{/if}}

      </div>

  </div>
</div>

<div class="right-container">
  <div class="map-container">
    <div class="container-title">Explore the swamp rabbit trail!</div>
    <iframe frameBorder='0'src='http://goo.gl/921Frn'></iframe>
  </div>
</div>

</div>

{{outlet}}
