<div class="body-container">

<div class="left-container">
  <div class="button-container">
    <div class="container-title">Your Completed Activities</div>
  <div class="user-activity-container">
        <ul class="activity-list">
          {{#each activity in model}}
          <li class="completed-activity-list-item">
          <div class="activity-name">{{activity.activityName}}</div>
          <div class="activity-preview-info">Created by {{activity.activityOwner.firstName}} {{activity.activityOwner.lastName}}</div>
          <div class="activity-preview-info">{{activity.distance}} Mile {{activity.activityType}}</div>
          <div class="activity-preview-info">{{moment activity.activityDate}}</div>
          </li>
          {{/each}}
        </ul>
    </div>
    {{#link-to 'home.index'}}
      <button class="create-new-button">Return to Home</button>
    {{/link-to}}
    </div>
  </div>
  <div class="right-container">
    <div class="map-container">
      <div class="container-title">Explore the swamp rabbit trail!</div>
      <iframe frameBorder='0'src='http://goo.gl/921Frn'></iframe>
    </div>
  </div>

</div>
