<div class="body-container">

<div class="left-container">
  <div class="user-activity-container">
    <div class="container-title">Create New</div>
  <form>
    <div>
      <div>Name your activity</div>
      {{input placeholder="Name Activity" value=activityName}}
    </div>
    <div>
      <div>Select Date and Time</div>
      {{input type="datetime-local" value=activityDate}}
    </div>
      <div>
        <div>Select Type</div>
        <div class="mx-button">
            {{type-buttons name="typeSelect" selectionBinding="activityType" value="Run" id="type1"}}
            <label for="type1">Run</label>
        </div>
        <div class="mx-button">
            {{type-buttons name="typeSelect" selectionBinding="activityType" value="Ride" id="type2"}}
            <label for="type2">Ride</label>
        </div>
      </div>
      <div>
        <div>Select Style</div>
        <div class="mx-button">
          {{type-buttons name="styleSelect" selectionBinding="activityStyle" value="One-Way" id="style1"}}
          <label for="style1">One-Way</label>
        </div>
        <div class="mx-button">
          {{type-buttons name="styleSelect" selectionBinding="activityStyle" value="Round-Trip" id="style2"}}
          <label for="style2">Round-Trip</label>
        </div>
      </div>
      <div>Select Way-Points</div>
        <div>
        {{view "select" content=startMarker value=activityStart prompt="Select Start Mile Marker"}}
        </div>
        <div>
        {{view "select" content=finishMarker value=activityFinish prompt="Select Finish Mile Marker"}}
        </div>
        <div>
          <div>Friends</div>
          {{input type="text" placeholder="Search by name of email" value=searchFriends}}
          <button {{action "addFriend"}}>Add Friend</button>
        </div>
        <div>Notes</div>
        {{textarea placeholder="Notes" value=activityNotes}}
        {{#link-to 'home'}}
          <button {{action "saveNew"}}>Save</button>
        {{/link-to}}
        {{#link-to 'home'}}
          <button>Cancel</button>
        {{/link-to}}

  </form>

  </div>
</div>


<div class="right-container">
  <div class="map-container">
    <div class="container-title">Explore Mile Markers!</div>
    <iframe frameBorder='0'src='http://goo.gl/921Frn'></iframe></div>
  </div>

</div>

{{outlet}}
