<div class="body-container">

<div class="left-container">
  <div class="user-activity-container-alt">
    <div class="container-title">Create New</div>
  <form>
    <div>
      <div>Name your {{model.activity.activityType}}</div>
    {{input placeholder="create a name" class="edit-input" value=model.activity.activityName}}
    </div>
    <div>
      <div>Select Date and Time</div>
      <div class="edit-input">{{input type="datetime-local" value=model.activity.activityDate step="900" class="date-input"}}</div>
    </div>
      <div>
        <div>Select Type</div>
        <div class="type-button">
            {{type-buttons name="typeSelect" selectionBinding="model.activity.activityType" value="Run" id="type1"}}
            <label for="type1">Run</label>
        </div>
        <div class="type-button">
            {{type-buttons name="typeSelect" selectionBinding="model.activity.activityType" value="Ride" id="type2"}}
            <label for="type2">Ride</label>
        </div>
      </div>
      <div>
        <div>Select Style</div>
        <div class="type-button">
          {{type-buttons name="styleSelect" selectionBinding="model.activity.activityStyle" value="One-Way" id="style1"}}
          <label for="style1">One-Way</label>
        </div>
        <div class="type-button">
          {{type-buttons name="styleSelect" selectionBinding="model.activity.activityStyle" value="Round-Trip" id="style2"}}
          <label for="style2">Round-Trip</label>
        </div>
      </div>
      <div>Select Way-Points</div>
        <div class="marker-select">
        {{view "select" content=startMarker value=model.activity.activityStart prompt="Select Start Marker" class="marker"}}
        </div>
        <div class="marker-select">
        {{view "select" content=finishMarker value=model.activity.activityFinish prompt="Select Finish Marker" class="marker"}}
        </div>
        <div>Notes</div>
        <div>{{textarea placeholder="enter a short description" value=model.activity.activityNotes}}</div>
        <div>
          <div>Friends</div>
          <ul class="edit-input">
              {{#each friend in model.activity.activityFriends}}
              <li>{{friend.firstName}} {{friend.lastName}} <button class="remove-friend" {{action "removeFriend" friend}}>Remove</button></li>
              {{/each}}
          </ul>

          <!-- ember-cli-typeahead -->
          {{type-ahead class="typeahead" placeholder="Search Names" name="users" highlight=true content=model.users displayKey="firstName" targetAction="addFriend" selection=selectedFriend}}
        </div>

        {{#link-to 'home'}}
          <button {{action "saveNew"}}>Save</button>
        {{/link-to}}
        {{#link-to 'home'}}
          <button>Cancel</button>
        {{/link-to}}

  </form>

  </div>
</div>

<div class="right-container">
  <div class="map-container">
    <div class="container-title">Explore Mile Markers!</div>
    <iframe frameBorder='0'src='http://goo.gl/921Frn'></iframe></div>
  </div>

</div>

{{outlet}}
