<div class="body-container"></div>

<div class="left-container">
  <h2>Create New</h2>
  <form>
    <div>
      <div>Name your activity</div>
      {{input placeholder="Name Activity" value=activityName}}
    </div>
    <div>
      <div>Select Date and Time</div>
      {{input type="datetime-local" value=activityDate}}
    </div>
      <div>
        <div>Select Type</div>
        <div class="mx-button">
            {{type-buttons name="typeSelect" selectionBinding="activityType" value="Run/Walk" id="type1"}}
            <label for="type1">Run/Walk</label>
        </div>
        <div class="mx-button">
            {{type-buttons name="typeSelect" selectionBinding="activityType" value="Ride" id="type2"}}
            <label for="type2">Ride</label>
        </div>
      </div>
      <div>
        <div>Select Style</div>
        <div class="mx-button">
          {{type-buttons name="styleSelect" selectionBinding="activityStyle" value="One-Way" id="style1"}}
          <label for="style1">One-Way</label>
        </div>
        <div class="mx-button">
          {{type-buttons name="styleSelect" selectionBinding="activityStyle" value="Round-Trip" id="style2"}}
          <label for="style2">Round-Trip</label>
        </div>
      </div>
      <div>Select Way-Points</div>
        <div>
        {{view "select" content=startMarker value=activityStart prompt="Select Start Mile Marker"}}
        </div>
        <div>
        {{view "select" content=finishMarker value=activityFinish prompt="Select Finish Mile Marker"}}
        </div>
        <div>
          <div>Friends</div>
          {{input type="text" placeholder="Search by name of email" value=searchFriends}}
          <button {{action "addFriend"}}>Add Friend</button>
        </div>
        <div>Notes</div>
        {{textarea placeholder="Notes" value=activityNotes}}
        {{#link-to 'home'}}
          <button {{action "saveNew"}}>Save</button>
        {{/link-to}}
        {{#link-to 'home'}}
          <button>Cancel</button>
        {{/link-to}}

  </form>


</div>


<div class="right-container">
  <span>Explore Mile Markers!</span>
  <div class="map-container"><iframe frameBorder='0'src='http://goo.gl/dsKbDE'></iframe></div>
  </div>

{{outlet}}
