<h3>Register Page</h3>

{{input placeholder="name" value=registerName}}
{{input placeholder="email" value=registerEmail}}
{{input placeholder="password" value=registerPassword}}

<button {{action "register"}}> Register </button>

{{outlet}}
