<div id="#bg">
  <img src="/assets/images/bg.jpg" id="bg" alt="">
</div>

<form class='submit-container'{{action 'register' on='submit'}}>

<div class="submit-label">Welcome to Trail</div>
<div class="login-image"><img class="logo" src="assets/images/logo.svg"></div>

{{input placeholder="first name" class="submit-input" value=firstName required=true}}
{{input placeholder="last name" class="submit-input" value=lastName required=true}}
<!-- {{input type="file"  value=image placeholder="profile picture"}} -->
<!-- <input id="uploadbutton" type="button" value="Upload Picture"{{action 'imageUpload'}}/> -->
{{input placeholder="email" class="submit-input" type='email' value=username required=true}}
{{input placeholder="password" class="submit-input" type='password' value=password required=true}}

<button class="submit-button" type="submit">REGISTER</button>

<div class="submit-link">{{#link-to 'login'}}already signed up?{{/link-to}}</div>

</form>

{{outlet}}
