<h3>Register Page</h3>

<form {{action 'register' on='submit'}}>

{{input placeholder="First Name" value=firstName}}
{{input placeholder="Last Name" value=lastName}}
{{input placeholder="email" type='email' value=username}}
{{input placeholder="password" type='password' value=password}}

<button type="submit"> Register </button>

</form>

{{outlet}}
